/*  */
.counterBox h2{font-weight: 500;font-size: 3.5rem;line-height: 5rem;letter-spacing: 0%;text-align: center;color: #191E3F;}
.counterBox p{font-weight: 400;font-size: 1rem;line-height: 1.5rem;letter-spacing: 0%;text-align: center;color: #5D5D5D;}

/*  */
.aboutImg1 img{box-shadow: 0px 62px 54px 0px #0000004D;border-radius: 0 3rem 0 0;height: auto;object-fit: cover; width: 100%}
.aboutText{width: 70%;margin: 0 auto;}
.aboutText p{font-weight: 400;font-size: 16px;line-height: 28px;letter-spacing: -0.5px;color: #5D5D5D;}
.aboutImg img{border-radius: 0 3rem 0 0;height: auto;object-fit: cover; width: 100%}

/*  */

/*  */
.highlightProject img{width: 100%;height: 530px;object-fit: contain;}
.highlightProject1 img{width: 100%;height: 530px;object-fit: cover;box-shadow: 0px 62px 54px 0px #0000004D}

.projectBox{background-color: #fff;padding: 3rem; width: 100%;height: 530px;object-fit: cover;}
.projectBox h2{font-weight: 500;font-size: 4rem;line-height: 3.3rem;letter-spacing: 0%;margin-bottom: 1.5rem;}
.projectBox p{font-weight: 400;font-size: 16px;line-height: 26px;letter-spacing: 0%;margin: 0;}
/*  */

/*  */
.keyfeatureBgImg{background-image: url(../../public/images/key-features-bg.jpg);background-size: cover;background-repeat: no-repeat;}
.keyFeatureBox{background: #FFFFFFE5;}
.keyFeatureBox img{width: 30%;}
/*  */

/*  */
.blogLink{position: absolute;right: 0;top: 0;}
.blogPack h4{font-weight: 700;font-size: 1.9rem;line-height: 2.3rem;letter-spacing: 0%;}
.blogImg1 img{
box-shadow: 0px 62px 54px 0px #0000004D;
}
/*  */

@media only screen and (max-width: 767px) {
    .counterBox h2{font-size: 2rem;line-height: 3rem;}
    .projectBox h2{font-size: 3rem;}
    .aboutText{width: 90%;}
    .aboutImg img{height: auto;}
    .projectBox{padding: 2rem;height: auto;}
    .highlightProject img{height: auto;}
    .blogPack h4{font-size: 1.5rem;line-height: 2rem;}
    .projectBox p{margin-bottom: 1rem;}
}